.default-option-button {
  border-radius: 8px;
  background: #ebf3ff;
  width: 380px;
  height: 64px;
  flex-shrink: 0;
  border-width: 0px;
  cursor: pointer;
  color: var(--Light-blue-gray-700, #334155);
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.default-option-item {
  margin: 10px;
}
