.assessment-main-container {
  width: 1440px;
  height: 1024px;
  background: #fafbfe;
  padding: 30px;
  display: flex;
  flex-direction: row;
}
.question-container {
  width: 928px;
  height: 837px;
  flex-shrink: 0;
  background-color: #ffffff;
  filter: drop-shadow(0px 0px 15px rgba(218, 228, 250, 0.5));
  padding: 30px;
}
.question {
  color: #164687;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}
.question-count-container {
  width: 416px;
  height: 777px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 15px 0px rgba(218, 228, 250, 0.5);
  padding: 15px;
}
.time-container {
  width: 416px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #475987;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.time-left {
  width: 77px;
  height: 29px;
  flex-shrink: 0;
  color: var(--Light-blue-gray-50, #f8fafc);
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding-left: 10px;
}
.time {
  width: 95px;
  height: 29px;
  flex-shrink: 0;
  color: var(--Light-blue-gray-50, #f8fafc);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  padding-bottom: 40px;
  padding-right: 40px;
}
.question-number-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.questions-count {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.answered-questions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.answered-questions-count-container {
  background-color: #7c599f;
  padding: 10px;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.answered-questions-count {
  color: var(--Light-blue-gray-50, #f8fafc);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.answered-questions {
  color: #496387;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding: 4px;
}
.unanswered-questions-count-container {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 10px;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.submit-button {
  width: 384px;
  height: 48px;
  flex-shrink: 0;
  background-color: transparent;
  border-color: #164687;
  border-radius: 6px;
  color: #164687;
  cursor: pointer;
}
